blessed==1.19.1
certifi==2022.9.24
charset-normalizer==2.1.1
distlib==0.3.6
filelock==3.8.0
greenlet==1.1.2
idna==3.4
inquirer==2.10.0
msgpack==1.0.3
pipenv==2022.9.24
platformdirs==2.5.2
pynvim==0.4.2
python-apt==2.3.0+b2
python-editor==1.0.4
readchar==4.0.3
requests==2.28.1
six==1.16.0
urllib3==1.26.12
virtualenv==20.16.5
virtualenv-clone==0.5.7
wcwidth==0.2.5
wget==3.2
